.AccountForm {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 75%;
    height: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
}

.AccountForm > * {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1em;
}

.Chats {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20em;

    background-color: rgba(20, 20, 20, 0.5);
    backdrop-filter: blur(2px);
    box-sizing: border-box;
    border-right: 2px solid rgb(50, 50, 50);

    overflow-x: hidden;
    overflow-y: auto;

    z-index: 2;
}

.Chats > div {
    width: 100%;
    height: 2em;
    
    background-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);

    font-weight: 600;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;

    cursor: pointer;
}

.Chats > div > img:first-child {
    height: 22px;

    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100%;
}

.Chats > div:hover {
    filter: brightness(1.25);

    padding-top: 8px;
    padding-bottom: 8px;
}

.Chats > div:first-child {
    justify-content: center;
    gap: 4px;
    background-color: rgb(70, 70, 70) !important;
    padding-top: 0;
    padding-bottom: 0;
    filter: brightness(1) !important;
}

.Chats > div:first-child > *:last-child {
    margin-right: 3em;
    padding-left: 2em;
    padding-right: 2em;
}

.Chats > div:not(:first-child) > *:last-child {
    margin-right: 2em;
}

.Chats > .Navigator {
    position: absolute;
    bottom: 0;
    left: 0;

    height: 4em;
}

.Chats > .Navigator:hover {
    padding-top: 0;
    padding-bottom: 0;
    filter: none;
}

.Chats > .Navigator img {
    position: absolute;
    right: 0;

    height: 75%;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100%;
}

.Chats > .Navigator > .TagLabel {
    opacity: 0;
    margin-right: 100%;
    transition: all 0.25s ease;
}

.Chats > .Navigator:hover .TagLabel {
    opacity: 0.25;
}

div:has(.Messages) {
    position: absolute;
    left: 20em;
    top: 0;
    height: calc(100% - 4em);
    width: calc(100% - 20em);

    overflow-x: hidden;
    overflow-y: auto;
}

div:has(.Messages) > div:last-child {
    position: fixed;
    left: 0;
    bottom: 0;

    width: calc(100% - 20em);
    height: 4em;
    z-index: 0;
}

div:has(.Messages) > div:last-child > input {
    width: 100%;
    height: 100%;
    margin-left: 24em;
    
    border-radius: 0;
    background-color: rgba(20, 20, 20, 0.5);
    backdrop-filter: blur(4px);
    color: rgb(255, 255, 255);

    box-sizing: border-box;
    border-top: 2px solid rgb(50, 50, 50);

    font-weight: 600;
}

.Messages {
    display: flex;
    flex-direction: column;
}

.Messages > div {
    position: relative;

    width: 100%;
    min-height: 2em;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 8px;
    
    background-color: rgba(75, 75, 175, 0.5);
}

.Messages > div > header {
    font-weight: 500;
}

.Messages > div > img:first-child {
    align-self: flex-start;
    margin-top: 5px;
    margin-right: 8px;
    height: 24px;
    
    border-radius: 100%;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
}

.Messages > div > img:last-child {
    align-self: flex-start;
    margin-top: 4px;
    margin-left: 8px;

    background-color: rgb(25, 24, 24);
    border-radius: 100%;
    height: 24px;
    width: 24px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.Messages > div > span img {
    border-radius: 8px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    margin-top: 8px;
    cursor: pointer;

    width: 50%;
}

.Messages > div > span img:hover {
    filter: brightness(1.25);
}

.Messages > div[client="true"] {
    background-color: rgba(175, 75, 75, 0.5);
}

.Messages > div[info="true"] {
    background-color: rgba(175, 175, 175, 0.5);
}

.Messages > div > .OptionsButton {
    position: absolute;
    right: 2em;
    aspect-ratio: 1 / 1;
    width: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(40, 40, 40);
}

.Logo {
	position: relative;
	background-color: rgba(255, 255, 255, 0.5);
	color: rgb(0, 0, 0);

	padding-left: 2em;
	padding-right: 2em;
	border-radius: 8px;
}

.Logo::before,
.Logo::after {
	content: "";
	position: absolute;
	top: -2em;
	left: -2em;
	background: linear-gradient(
		15deg,
		#fb0094,
		#0000ff,
		#00ff00,
		#ffff00,
		#ff0000,
		#fb0094,
		#0000ff,
		#00ff00,
		#ffff00,
		#ff0000
	);
	background-size: 1000%;
	z-index: -1;
	animation: Shadow 20s ease infinite;
}

.Logo::after {
	top: -5px;
	left: -5px;
	width: calc(100% + 10px);
	height: calc(100% + 10px);
	filter: blur(32px);
	opacity: 0.75;
}

.LogInButton {
    cursor: pointer;
}

@keyframes Shadow {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 200% 0;
	}
	100% {
		background-position: 0 0;
	}
}